body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Ẩn audio player */
audio {
    display: none;
}

.container {
    max-width: 32rem;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

/* Logo styling */
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo-img {
    max-width: 250px;
    height: auto;
    max-height: 100px;
    animation: zoomInOut 2s ease-in-out infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.gift {
    padding: 0 4rem;
    margin: 1rem 0;
}

/* Center section styling */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}

/* Ảnh gif styling */
.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.gif-img {
    max-width: 330px;
    height: auto;
    max-height: 100px;
    
}

img {
    width: 100%;
    height: auto;
}

/* Modal styles */
.modal {
  display: none; /* Ẩn mặc định */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  animation: slideDown 0.5s ease; /* hiệu ứng show từ trên xuống */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32rem;
  margin: 50px auto;
  max-height: 80vh;
  border-radius: 8px;
  background: transparent;
  padding: 20px;
  transform: translateY(-20%);
}

#modalImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.nhan-button {
  max-width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 8px;
  transform: translateY(-10%);
}

.nhan-button:hover {
  transform: translateY(-10%) scale(1.05);
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
